spring.application.name=VinhNguyen
# ================== DATABASE ==================
spring.datasource.url=jdbc:sqlserver://localhost:1433;databaseName=SaleManagement;encrypt=true;trustServerCertificate=true;
spring.datasource.username=sa
spring.datasource.password=your-db-password
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver

# ================== JPA ==================
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.SQLServerDialect

# ================== LOG SQL ==================
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
server.port=8081

jwt.secret=your-random-jwt-secret-key
jwt.expiration=3600000

spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
server.tomcat.max-swallow-size=-1

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your-email@gmail.com
spring.mail.password=your-gmail-app-password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

vnpay.tmnCode=your-vnpay-tmn-code
vnpay.hashSecret=your-vnpay-hash-secret
vnpay.baseUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
vnpay.returnUrl=http://localhost:8081/order/vnpay-callback

#spring.security.oauth2.client.registration.google.client-id=YOUR_GOOGLE_CLIENT_ID
#
#spring.security.oauth2.client.registration.google.client-secret=YOUR_CLIENT_SECRET
#
#spring.security.oauth2.client.registration.google.scope=email,profile

#server.ssl.enabled=true
#
#server.ssl.key-store=classpath:keystore.p12
#
#server.ssl.key-store-type=PKCS12
#server.ssl.key-alias=sportify
#
#server.ssl.key-store-password=123456

upload.path=uploads/

spring.ai.google.genai.api-key=your-gemini-api-key
spring.ai.google.genai.chat.model=gemini-2.5-flash
spring.ai.google.genai.chat.temperature=0.4
spring.ai.google.genai.embedding.api-key=your-gemini-api-key
spring.ai.google.genai.embedding.text.model=gemini-embedding-001
